extends layout

block body
  div(ng-controller='AppCtrl')
    div.container
      div.row-fluid
        div.span12
          div.navbar
            div.navbar-inner
              a.brand(href='/') Wheredoesmymoneygo
              ul.nav
                li.active
                  a(href='feature') 特選內容
                li
                  a(href='graph') 資料圖表
            div(ng-view)
  
  script(src='javascripts/lib/angular.min.js')
  script(src='javascripts/lib/bootstrap.min.js')
  script(src='javascripts/main.js')
  script(src='javascripts/controllers.js')