!!!
html(ng-app="App")
  head
    meta(charset='utf8')
    base(href='/')
    title Wheredoesmymoneygo (Taiwan)
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block body